.container {
  padding: 2rem 0;
  display: grid;
  //grid-template-columns: 20vw 10vw 70vw;
  grid-template-columns: repeat(2, minmax(1.5rem, 1fr)) minmax(min-content, 1fr)
                          minmax(1.5rem, 1fr) repeat(8, minmax(min-content, 1fr)) minmax(1.5rem, 1fr);
  grid-template-rows: minmax(min-content, 30vh) minmax(min-content, 10vh) minmax(min-content, 60vh);
  //display: flex;
}

// minmax(min-content, 3rem)